.plagueview {
  -fx-background-color: #ffffff;
}

.Light {
  -fx-background-color: #929ea8;
}

.Dark {
  -fx-background-color: #3a3535;
}

.timebox {

}

.settingsbox {
  -fx-spacing: 10;
}

.gamedatabox {
  -fx-spacing: 10;
}


.styleselector{
  -fx-pref-height: 40;
}

.datebox {
  -fx-font-size: 12 pt;
  -fx-text-fill: #000000;
  -fx-background-color: pink;
  -fx-max-height: 32;
  -fx-max-width: 90;
  -fx-text-box-border: #000000;
}

.countrybutton {
  -fx-pref-height: 40;
  -fx-pref-width: 60;
}

.headlinebox {
  -fx-font-size: 16 pt;
  -fx-alignment: center;
  -fx-text-fill: red;
  -fx-background-color: pink;
  -fx-max-height: 25;
  -fx-max-width: 400;
}

.playbutton {
  -fx-background-image: url("../../../images/playbutton.png");
  -fx-pref-height: 8;
  -fx-pref-width: 30;
  -fx-background-size: 45px 45px;
  -fx-background-position: center;
}

.pausebutton {
  -fx-background-image: url("../../../images/pausebutton.png");
  -fx-pref-height: 8;
  -fx-pref-width: 30;
  -fx-background-size: 45px 45px;
  -fx-background-position: center;
}

.fastforwardbutton {
  -fx-background-image: url("../../../images/fastforwardbutton.png");
  -fx-pref-height: 8;
  -fx-pref-width: 30;
  -fx-background-size: 45px 45px;
  -fx-background-position: center;
}

.perkbutton {
  -fx-background-image: url("../../../images/eye.png");
  -fx-pref-height: 40;
  -fx-pref-width: 40;
  -fx-background-position: center;
}

.worldbutton {
  -fx-background-image: url("../../../images/globe.png");
  -fx-pref-height: 40;
  -fx-pref-width: 40;
  -fx-background-position: center;
}

.leftprogressbar {
  -fx-text-box-border: #4d0202;
  -fx-control-inner-background: #939090;
  -fx-accent: #000000;
  -fx-max-height: 25;
  -fx-max-width: 400;
}

.rightprogressbar {
  -fx-text-box-border: #180357;
  -fx-control-inner-background: #4f8fee;
  -fx-accent: #0b2edc;
  -fx-max-height: 25;
  -fx-max-width: 400;
}

.lefttextarea {
  -fx-opacity: 1.0;
  -fx-min-height: 40;
  -fx-min-width: 200;
  -fx-font-size: 16 pt;
  -fx-border-style: solid;
  -fx-text-fill: #0e0e0e;
  -fx-border-color: #000000;
  -fx-background-color: #c5b9b9;
  -fx-border-radius: 10;
  -fx-background-radius: 10;
  -fx-alignment: center;
}

.righttextarea {
  -fx-opacity: 1.0;
  -fx-min-height: 40;
  -fx-min-width: 200;
  -fx-font-size: 16 pt;
  -fx-border-style: solid;
  -fx-text-fill: #0e0e0e;
  -fx-border-color: #570303;
  -fx-background-color: #ee4f4f;
  -fx-border-radius: 10;
  -fx-background-radius: 10;
  -fx-alignment: center;
}

.topbar {
  -fx-padding: 10;
  -fx-spacing: 10;
  -fx-spacing: 150;
  -fx-alignment: center;
}

.exitbutton {
  -fx-pref-width: 40;
  -fx-pref-height: 40;
  -fx-background-image: url("../../../images/exitbutton.png");
  -fx-background-size: 45px 45px;
  -fx-background-position: center;
}

.regionfactortable {
  -fx-max-height: 130;
}

.regionpopulationtable {
  -fx-pref-height: 130;
}



.default-color0.chart-pie { -fx-pie-color: #002aff; }
.default-color1.chart-pie { -fx-pie-color: #00ff33; }
.default-color2.chart-pie { -fx-pie-color: #e80505; }
.default-color3.chart-pie { -fx-pie-color: #ffac2f; }
.default-color4.chart-pie { -fx-pie-color: #f700ff; }

.chart {
  -fx-pref-height: 120;
  -fx-pref-width: 120;
}
.scroll-pane .viewport {
  -fx-background-image: url("../map_backgrounds/dark-background.jpg");
}
.protagonist-progress-bar {
  -fx-accent: #000000;
}

